.modal {
  position: fixed;
  z-index: 100;
  inset: 0;
  padding: 94px 56px;
  background: rgba(0, 0, 0, 0.8);
  overflow: auto;
}

.playgroundModal {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 4px 0px rgba(209, 28, 233, 1);
  border-radius: 20px;
}

.playgroundHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 2rem;
  height: 72px;
  background: rgba(10, 10, 10, 1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.PlaygroundTitle {
  font-family: "Instrument Sans";
  font-size: 22px;
  font-weight: 400;
  line-height: 28.06px;
  color: rgba(198, 198, 198, 1);
}

.playgroundContainer {
  display: flex;
  flex-direction: row;
  justify-items: space-between;
  padding: 1rem;
  gap: 2rem;
  background: rgba(10, 10, 10, 1);
  position: relative;
}

.playgroundModalUploadContainer {
  width: 15%;
  display: flex;
  flex-direction: column;
  border: 1px solid #ffffff0d;
  border-radius: 20px;
  padding: 1rem;
  box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5);
  height: 295px;
}
.playgroudMenuContainer {
  height: fit-content;
  position: relative;
  z-index: 2;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.02);
}

.playgroudContentContainer {
  margin-top: 133px;
  margin-bottom: 196px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}

.playgroudContentContainer > * {
  position: relative;
  z-index: 2;
}

.playgroudSizeContainer {
  height: 144px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #ffffff0d;
  padding: 1.25rem;
  gap: 1.5rem;
  background: #ffffff05;
  border-radius: 20px;
  color: white;
  position: relative;
  z-index: 3;
}

/* Tablet screens and smaller */
@media (max-width: 1024px) {
  .playgroundContainer {
    flex-direction: column;
    gap: 1rem;
  }
  .playgroudContentContainer {
    width: auto;
    display: flex;
    margin-top: 0rem;
    gap: 0rem;
  }
  .playgroudMenuContainer {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 0rem;
    height: auto;
  }
  .playgroundModalUploadContainer {
    width: auto;
  }
}

.playgroundFooterContainer {
  width: 100%;
  position: relative;
  z-index: 3;
}

.playgroundFooterBarContainer {
  width: 100%; /* First div takes the full width */
  display: flex;  
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.playgroundFooterBar {
  height: 64px;
  color: #9d9d9d;
  width: 90%;
  border-radius: 20px;
  border: 1px solid #ffffff0d;
  background: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Instrument Sans";
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  gap: 0.5rem;
  cursor: pointer;
  //styleName: Instrument Sans/16/16px: SemiBold;
}

/* Mobile screens */
@media (max-width: 768px) {
  .playgroundContainer {
    padding: 0.5rem;
    gap: 1rem;
  }

  .playgroudContentContainer {
    width: auto;
    display: flex;
    margin-top: 0rem;
    gap: 0rem;
  }

  .playgroudMenuContainer {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: space-between;
    margin-top: 0rem;
    height: auto;
  }
  .playgroundModalUploadContainer {
    width: auto;
  }
}
