.custom-modal .ant-modal-content {
  border: none;
  box-shadow: 0px 2px 2px 2px #d11ce9;
  background: linear-gradient(135deg, #0a0a0a 20%, #2e002e 50%, #0a0a0a 80%);
  padding-left: 0% !important;
  padding-right: 0% !important;
  height: auto;
}

.custom-modal-title .ant-modal-title {
  color: #c6c6c6;
  background: linear-gradient(135deg, #0a0a0a 20%, #2e002e 50%, #0a0a0a 80%);

  font-family: Instrument Sans;
  font-size: 23px;
  font-weight: 400;
  line-height: 28.06px;
  text-align: start;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.playgroundContainer {
  display: flex;
  flex-direction: row;
  justify-items: space-between;
  padding: 1rem;
  gap: 2rem;
}

.playgroudMenuContainer {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ffffff0d;
  border-radius: 20px;
  padding: 1rem;
  box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5);
}

.playgroudContentContainer {
    margin-top: 2rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 1rem;
  gap: 1rem;
}

.playgroudSizeContainer {
  width: 25%;
  display: flex;
  flex-direction: column;
  border: 1px solid #d11ce9;
  border-radius: 20px;
  padding: 1rem;
  gap: 1rem;
}

/* Tablet screens and smaller */
@media (max-width: 1024px) {
  .playgroundContainer {
    flex-direction: column;
    gap: 1rem;
  }
  .playgroudContentContainer{
    width: auto;
    display: flex;
    margin-top: 0rem;
  gap: 0rem;

  }
  .playgroudMenuContainer,
  .playgroudSizeContainer {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 0rem;


  }
}

/* Mobile screens */
@media (max-width: 768px) {
  .playgroundContainer {
    padding: 0.5rem;
    gap: 1rem;
  }

  .playgroudContentContainer{
    width: auto;
    display: flex;
    margin-top: 0rem;
  gap: 0rem;

  }

  .playgroudMenuContainer,
  
  .playgroudSizeContainer {
     width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: space-between;
    margin-top: 0rem;

  }
}
