.mainContainer {
  // background: linear-gradient(45deg, #0a0010, #1a0024, #2e003e, #270d2f);
  background: #0D0011;
  padding-bottom: 50px;
}

.container-2 {
  position: relative;
  display: flex;
  justify-content: center;
}

// Second container
.secondContainer {
  // background: radial-gradient(59.45% 59.45% at 50% 40.55%, #1F0A26 0%, rgba(31, 10, 38, 0) 100%);
  // background-image: url(../../assests/icons/grid.svg);
  // background-size: cover;
  padding-top: 136px;
  padding-bottom: 96px;
  border: "1px solid black";
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 2;
}

.grid-illustration {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 1152px;
  height: 640px;
  z-index: 1;
  // background: radial-gradient(59.45% 59.45% at 50% 40.55%, #1F0A26 0%, rgba(31, 10, 38, 0) 100%);
}

.seoondHeader {
  border: 1px solid #FFFFFF33;
  border-radius: 100px;
  padding: 6px 10px;
  color: #bbbbbb;
  font-size: 14px;
  background: #FFFFFF0D;
  font-weight: 400;
  margin-bottom: 1.25rem;
  backdrop-filter: blur(4px)
}

.subtext-span {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 600;
  line-height: 59.99px;
}

.secondSubHeaderContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.secondSubHeaderText {
  font-family: "Instrument Sans";
  font-size: 45px;
  font-weight: 500;
  line-height: 54.9px;
  color: linear-gradient(93.32deg, #ffffff 60.45%, #b4b4b4 99.76%);
}

.secondSubHeaderContainer .emoji {
  font-family: Playfair Display;
  font-size: 60px;
  font-weight: 600;
  line-height: 80px;
}

.secondSubText {
  color: #7b7b7b;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 27px;
  font: "Instrument Sans";
  margin-top: 0.5rem;
  width: 100%;
  max-width: 475px;
  text-align: center;
}

.cta-button {
  box-shadow: 0px 16px 48px 20px #d323e71a;
  background: #d11ce9;
  padding: 12px 24px;
  border: 1px solid #d11ce9;
  border-radius: 100px;
  margin-top: 1.9rem;
  color: #fff;
  box-shadow: 0px 16px 48px 20px #D323E71A;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  height: 44px;
  position: relative;
  overflow: hidden;
}

.cta-button .line-1 {
  position: absolute;
  top: -10px;
  left: -20px;
}

.cta-button .line-2 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.btn-subtext {
  font-style: italic;
  font-weight: 500;
}

// third container

.thirdContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
  gap: 20px;
}

.thirdBoxContainer {
  width: 100%;
  max-width: 333px;
  height: 268px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5rem;
  gap: 1rem;
}

.thirdIconBox {
  width: 56px;
  height: 56px;
  border: 1px solid #d11ce9;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.25rem;
  background: #d11ce91a;
}

.thirdTextBox {
  font-size: 20px;
  font-weight: 500;
  line-height: 24.4px;
  text-align: center;
}

.thirdSubTextBox {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #7b7b7b;
}

// fourth container

.ellipse-1 {
  position: absolute;
  top: -400px;
  left: 0;
}

.ellipse-2 {
  position: absolute;
  top: -500px;
  right: 0;
}

.fourthSubHeader {
  font-family: "Instrument Sans";
  font-size: 32px;
  font-weight: 500;
  line-height: 39.04px;
  text-align: center;
  margin-bottom: 12px;
}

.fourthSubHeader .subtext-span {
  line-height: 42px;
}


.fourthSubText {
  font-family: "Instrument Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #7b7b7b;
  width: 30%;
  margin-bottom: 5rem;
}


.boxItemsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
  width: 720px;
  max-width: 100%;
  padding-left: 48px;
  position: relative;
}

.boxItem {
  width: 100%;
  max-width: 672px;
  height: 144px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 12px;
}

.boxItemUnfilled {
  border: 1px solid #313131;
}

.boxItemFilled {
  border: 1px solid #d11ce9;
  background: #d11ce933;
}

.boxItemText {
  font-size: 20px;
  font-weight: 500;
  line-height: 24.4px;
  color: #ffffff;
}

.boxItemSubText {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #7b7b7b;
}


.timeline {
  position: absolute;
  left: 0; 
  height: 200px;
  width: 2px;
  background-color: rgba(49, 49, 49, 1); 
  margin-top: 1rem;
}

.boxItem:last-child .timeline {
  background-color: transparent;
}

.circle {
  position: relative;
  // top: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  background: rgba(72, 72, 72, 0.3);
  border: 0.38px solid rgba(72, 72, 72, 1);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle .inner-circle {
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;
  background: rgba(72, 72, 72, 1);
}

.boxItemFilled .circle {
  background: rgba(209, 28, 233, 0.3);
  border: 0.38px solid rgba(209, 28, 233, 1)
}

.boxItemFilled .circle .inner-circle {
  background: rgba(209, 28, 233, 1);
}

/* Tablet screens and smaller */
@media (max-width: 1024px) {
  .secondSubHeaderContainer {
    gap: 5px;
  }

  .secondSubHeaderText {
    font-size: 32px;
  }

  .secondSubText {
    width: 50%;
  }
  .thirdTextBox {
    font-size: 18px;
    line-height: 10px;
  }

  .thirdSubTextBox {
    font-size: 14px;
    line-height: 15px;
    width: 80%;
  }

  .fourthSubHeader {
    font-size: 28px;
  }

  .fourthSubText {
    font-size: 12px;
    width: 70%;
  }
}

/* Mobile screens */
@media (max-width: 768px) {
  .secondSubHeaderContainer {
    gap: 2px;
  }
  .secondSubHeaderText {
    font-size: 20px;
  }
  .secondSubText {
    width: 90%;
    font-size: 124x;
  }

  .thirdTextBox {
    font-size: 12px;
    line-height: 10px;
  }

  .thirdSubTextBox {
    font-size: 10px;
    line-height: 15px;
    width: 80%;
  }
  .thirdBoxContainer {
    width: 33%;
    gap: 15px;
  }
  .fourthSubHeader {
    font-size: 20px;
  }

  .fourthSubText {
    font-size: 12px;
    width: 60%;
    line-height: 15px;
  }

  .timeline {
    position: absolute;
    left: 10%;
    height: 350px;
    width: 2px;
    background-color: #d1d1d1; 
  }
}

.stars-illustration {
  position: absolute;
  top: 15px;
  left: 0;
}

.rays-illustration {
  position: absolute;
  top: 0;
  left: 0;
  // REMOVE
  z-index: 1;
  // opacity: 0.6;
}