// menu style

.logoContainer {
  width: 48px;
  height: 48px;
  border: 1px solid rgb(255, 255, 255);
  border-image-source: linear-gradient(
    223.71deg,
    #ffffff99 0%,
    rgba(255, 255, 255, 0.3) 40%,
    rgba(255, 255, 255, 0) 100%
  );
  background: linear-gradient(
    213.23deg,
    rgba(0, 0, 0, 0.1) 28.44%,
    rgba(255, 255, 255, 0) 72.58%
  );
  border-radius: 12px;
  box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.3),
    0px -2px 2px rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.itemContainer {
  width: 74px;
  height: 57px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  color: antiquewhite;
  margin-top: 60px;
}

.itemText {
  font-family: "Instrument Sans";
  font-size: 11px;
  font-weight: 500;
  line-height: 13.42px;
  text-align: center;
  color: #9d9d9d;
}

// text container

.headerLogoStyle {
  padding: 0rem 2rem;
  width: 161px;
  height: 48px;
  margin-left: 5px;
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(60px);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4), 0px -4px 20px rgba(0, 0, 0, 0.4),
    4px 0px 20px rgba(0, 0, 0, 0.4), -4px 0px 20px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-weight: bold;
  color: white;
  font-family: "Instrument Sans";
}

.subHeaderText {
  font-family: " Playfair Display";
  font-size: 45px;
  font-style: italic;
  font-weight: 600;
  line-height: 59.99px;
  text-align: center;
  color: whitesmoke;
  margin-top: 0.5rem;
}

.subHeading {
  font-family: "Instrument Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #9a9a9a;
  width: 60%;
}

.inputstyle {
  height: 48px;
  background: linear-gradient(135deg, #0a0a0a 20%, #2e002e 50%, #0a0a0a 80%);
  color: #727272;
  border: 1px solid #ffffff1a;
  border-radius: 20px;
  margin-top: 1rem;
}
.inputstylefocus {
  height: 48px;
  background: linear-gradient(135deg, #0a0a0a 20%, #2e002e 50%, #0a0a0a 80%);
  color: #727272;
  border: 1px solid #2e002e;
  border-radius: 20px;
  margin-top: 1rem;
}

.button_Style {
  height: 48px;
  border: 1px solid transparent;
  border-bottom: 1px solid;
  border-radius: 20px;
  border-image-slice: 1;
  box-shadow: 0px 16px 48px 20px #d323e71a;
  background: #d11ce9;
  border-color: #ffffff1a;
  border-width: 2;
  color: white;
  font-size: 16px;
  font-weight: 500;
}



// rotate container
.rotateSignContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

//upload container

.uploadImageContainer {
  height: auto;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.uploadHeaderText {
  font-family: "Instrument Sans";
  font-size: 16px;
  font-weight: 500;
  line-height: 19.52px;
}

.uploadImageItemStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: 1px dashed #270d2f;
  border-radius: 20px;
  height: 120px;
}

.uploadText {
  font-family: "Instrument Sans";
  font-size: 11px;
  font-weight: 400;
  line-height: 19.52px;
  color: #9d9d9d;
  width: 70%;
  text-align: center;
}
.uploadButtonContainer {
  height: 36px;
  color: white;
  background: #d11ce9;
  border-color: #ffffff1a;
  border-width: 2;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border-radius: 20px;
  box-shadow: 0px 16px 48px 20px #d323e71a;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 2rem;
  cursor: pointer;
  gap: 0.5rem;
}

.imageStyle {
  width: 140px;
  height: 140px;
  object-fit: 'contain'; // Ensures the image scales proportionally
  border-radius: 8px; // Optional: rounded corners
}

.preCautionText{
  font-family: "Instrument Sans";
  font-size: 11px;
  font-weight: 400;
  line-height: 19.52px;
  color: #9d9d9d;
  width: 70%;
  text-align: center;
  width: 100%;
  margin-top: 1rem;
}
.rotateSignStyle {
  width: 44px;
  height: 44px;
  border-radius: 90px;
  border: 1px solid #ffffff1a;
  opacity: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rotateValueContainer {
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 80%;
  height: 44px;
  border-radius: 20px;
  border: 1px solid #ffffff1a;
  opacity: 0px;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: "Instrument Sans";
  font-size: 16px;
  font-weight: 500;
  line-height: 19.52px;
  text-align: left;
}

.custom .ant-collapse-item >.ant-collapse-header{
  color: #C6C6C6;

font-family: "Instrument Sans";
font-size: 16px;
font-weight: 600;
line-height: 19.52px;

}

.customContainer .ant-collapse-content-box {
  padding: 0px !important;
}


/* Tablet screens and smaller */
@media (max-width: 1024px) {
  .itemContainer {
    margin-top: 0rem;
  }

  .subHeaderText {
    font-size: 28px;
  }

  .subHeading {
    font-size: 12px;
    width: 90%;
  }
}

/* Mobile screens */
@media (max-width: 768px) {
  .itemContainer {
    margin-top: 0rem;
  }

  .subHeaderText {
    font-size: 16px;
    margin-top: 0rem;
  }

  .subHeading {
    font-size: 8px;
    margin-top: 0rem;
    width: 80%;
  }
}
